@use "./variables" as *;
@use "./mixins" as *;

.comparison {
    display: flex;
    flex-direction: column;
    align-items: center;

    .decision {
        padding: 50px;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        animation: final 3s ease-in;
        .outcome {
            background: white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 50px;
            width: 250px;
            border-radius: 5px;
        }
    }
    .comparison-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    animation: show 3s ease-in;
    @include breakpoint (xsmallScreen) {
        flex-direction: column;
        align-items: center;
    }
    @include breakpoint (smallScreen) {
        flex-direction: column;
        align-items: center;
        }
    @include breakpoint (mediumScreen) {
        flex-direction: row;
    }
        .book-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 600px;
            background: white;
            border-radius: 5px;
            padding-top: 25px;
            position: relative;

            .book-image-container {
                position: absolute;
                top: 40px;
                width: 75%;
                height: auto;
            }

            .book-info-container {
                position: absolute;
                bottom: 50px;
            }
        }

        .movie-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 600px;
            background: white;
            border-radius: 5px;
            padding-top: 25px;
            position: relative;
            .movie-image-container {
                position: absolute;
                top: 40px;
                width: 75%;
                height: auto;
            }
            
            .movie-info-container {
                position: absolute;
                bottom: 75px;
            }
        }
    }
}

.book-lost , .movie-lost {
    filter: grayscale(100%)blur(1px) brightness(90%) opacity(95%);
    scale: 0.9;
}

.book-won:before, .book-won:after, .movie-won:before, .movie-won:after, .outcome:before, .outcome:after  {
    content: ''; 
    border-radius: 5px;
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
    filter:none;
	animation: steam 30s linear infinite;

}

.book-won:after, .movie-won:after, .outcome:after {
    filter: blur(50px);
}

.book-lost, .movie-lost {
    scale: 0.9;
    filter: blur(1px) grayscale(90);
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}


@keyframes final {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
