@use "./variables" as *;

.comparison-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    .book-container {
        
        padding: 50px;
        width: 100%;
        max-width: 300px;
        border-radius: 5px;
        background: white;
    }
    .movie-container {
        padding: 50px;
        max-width: 300px;
        width: 100%;
        border-radius: 5px;
        background: white;
    }
    
}

