//Setup your global styles here (Margins for elements, ul disc-styles, images, wrappers etc. )
@use "./variables" as *;

body {
  background: $tertiaryColor;
}

.wrapper {
  max-width: 1450px;
  width: 90%;
  margin: 0 auto;
}

header {
  // background: red; 
}

main {
  // background: purple;
}

footer {
  // background: blue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  margin: 25px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}