//Setup your global styles here (Margins for elements, ul disc-styles, images, wrappers etc. )
@use "./variables" as *;

body {
  background: $tertiaryColor;
}

.wrapper {
  max-width: 1450px;
  width: 90%;
  margin: 0 auto;
}

ul { 
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  
  &:link {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
  &:hover {
    color: white;
    cursor: pointer;
  }
  &:focus {
    color: inherit;
  }
}

img {
  width: 100%;
  height: auto;
  // min-width: 200px;
  // max-width: 300px;
}

button {
  margin: 25px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}