@use "variables" as *;
@use "./mixins" as *;

header {
  @include breakpoint(smallScreen) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 150px;
    background-color: transparent;
    border-bottom: 2px solid $secondaryColor;
    flex-direction: column;
  }

  @include breakpoint(mediumScreen) {
    flex-direction: row;
    height: 150px;
  }
  @include breakpoint(largeScreen) {
    height: 75px;

  }
}

.header-container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

  @include breakpoint(largeScreen) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
