@use "variables" as *;


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: transparent;
  border-bottom: 2px solid $secondaryColor;
  .header-container {
    width: fit-content;
    h1 {
      margin-left: 50px;
    }
  }
}
