@use "variables" as *;

main {
    background-image: url(../assets/book-g04e8d3fcc_1920.jpg);
    background-color: transparent;
    background-position: center;
    width: 85%;
    height: 70vh;
    margin: auto;
    margin-top: 5%;
    padding-top: 10vh;

    .search-form {
        margin-top: 50px;
        margin-left: 350px;
    }

    .search-submit-btn {
        width: 150PX;
        height: 40px;
    }

    #search-field {
        width: 500px;
        height: 40px;
    }

    p {
        width: 65%;
        color: white;
        font-family: 'Maitree', serif;
        font-size: 1.4rem;
        background-color: rgba(255, 255, 255, 0.356);
        text-shadow: 1px 1px black;
        margin: auto;
    }
}

.video-wrapper {
    width: 100%;
    height: 95vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.mainvideo {
    width: 100vw;
    position: relative;
    object-fit: cover;
    filter: brightness(82%)
}