@use "./variables" as *;

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;

    .search-input {
        width: 25vw;
        height: 35px;
        outline: none;
        border: 2px solid $primaryColor;
        border-radius: 5px;
        text-align: center;
    }

    ::placeholder {
        text-align: center;
        color: black;
    }

    .search-submit-btn {
        background: $primaryColor;
        border-radius: 5px;
        color: white;
        padding: 7px 50px;
        transition: 0.2s ease-in-out;
        &:hover {
            scale: 1.05;
        }
    }
    

}