@use "./variables" as *;
@use "./mixins" as *;

// .search-field {
//     margin: 0;
// }

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    @include breakpoint(smallScreen) {
        flex-direction: row;
    }

    @include breakpoint(largeScreen) {
        margin: 0;
    }

    .search-input {
        width: 200px;
        height: 25px;
        border: solid 2px $primaryColor;
        border-radius: 5px;
        outline: none;
        text-align: center;
        background-image: linear-gradient(135deg, $primaryColor, $secondaryColor);
        @include breakpoint(smallScreen) {
            width: 400px;
            height: 35px;
        }
        
    }

    ::placeholder {
        text-align: center;
        color: black;
        background-image: linear-gradient(135deg, $primaryColor, $secondaryColor);
    }

    .search-submit-btn {
        padding: 7px 35px;
        background-image: linear-gradient(135deg, $primaryColor, $secondaryColor);
        margin: 15px;
        border-radius: 5px;
        @include breakpoint(smallScreen) {
            padding: 7px 35px;
        }

        @include breakpoint(mediumScreen) {

            &:hover {
                scale: 1.05;
            }
        }
    }
}