@use "variables" as *;
@use "./mixins" as *;

//Font face mixins
@include font-face(Maitree, maitree-regular, 400);
@include font-face(Maitree, maitree-bold, 700);

html {
  font-size: 62.5%;
}

body {
  font-family: Maitree;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6rem;
  font-family: "Maitree", serif;
  font-weight: bold;
  color: $primaryColor;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;

  @include breakpoint(smallScreen) {
    margin-top: 25px;
  }      

  @include breakpoint(largeScreen) {
  margin-top: 10px;
  }
}

h6 {
  text-align: center;
  font-size: 2.8rem;
}