html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #f4e6e8;
}

.wrapper {
  max-width: 1450px;
  width: 90%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: white;
  cursor: pointer;
}
a:focus {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  min-width: 200px;
  max-width: 300px;
}

button {
  margin: 25px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

@font-face {
  font-family: Maitree;
  src: url("../assets/fonts/maitree-regular.woff2") format("woff2"), url("../assets/fonts/maitree-regular.woff") format("woff"), url("../assets/fonts/maitree-regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Maitree;
  src: url("../assets/fonts/maitree-bold.woff2") format("woff2"), url("../assets/fonts/maitree-bold.woff") format("woff"), url("../assets/fonts/maitree-bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Maitree;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.6rem;
  font-family: "Maitree", serif;
  font-weight: bold;
  text-transform: full-width;
  color: #5da9c2;
  padding: 0;
  margin: 0;
  letter-spacing: -1.1rem;
}

header {
  position: relative;
  height: 7vh;
  background-color: transparent;
  border-bottom: 2px solid #ace8cd;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

footer {
  background-color: #5da9c2;
  font-family: "Maitree", serif;
  font-size: 1.3rem;
  text-align: center;
  color: #f4e6e8;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  border-top: 2px solid #ace8cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../assets/book-g04e8d3fcc_1920.jpg);
  background-color: transparent;
  background-position: center;
  height: 87vh;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  main {
    background-image: none;
  }
}
main .search-form {
  margin-top: 50px;
  margin-left: 350px;
}
main .search-submit-btn {
  width: 150PX;
  height: 40px;
}
main #search-field {
  width: 500px;
  height: 40px;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20rem;
}

.main-video {
  display: none;
  filter: brightness(50%);
}
@media only screen and (min-width: 992px) {
  .main-video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
}

.main-search-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.2s ease-in;
  text-align: center;
}

.modal-screen.active-modal {
  opacity: 1;
  pointer-events: initial;
}

.warning-container {
  background-color: cadetblue;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form .search-input {
  width: 400px;
  height: 35px;
}
.search-form ::placeholder {
  text-align: center;
  color: black;
}
.search-form .search-submit-btn {
  border: 1px solid #5da9c2;
  padding: 7px 50px;
}

.book-display {
  margin-bottom: 7vh;
}
.book-display h2 {
  text-align: center;
}

.book-pick {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.book-pick li {
  width: 100%;
  height: 750px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #5da9c2;
  border-radius: 6px;
  box-shadow: 2px 2px 2px black;
  padding: 30px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .book-pick li {
    width: calc(50% - 10px);
    margin: 5px;
  }
}
@media only screen and (min-width: 992px) {
  .book-pick li {
    width: calc(33.3333333333% - 10px);
    margin: 5px;
  }
}
@media only screen and (min-width: 1330px) {
  .book-pick li {
    width: calc(25% - 10px);
    margin: 5px;
  }
}
.book-pick img {
  width: 200px;
  height: 300px;
  text-align: center;
}

.book-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-book-btn {
  margin: 0;
  padding: 0;
}

.more-info {
  margin-top: auto;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 2rem;
  transition: transform 0.6s ease-in-out;
}
.more-info a:hover, .more-info a:focus, .more-info a:visited, .more-info a:link {
  color: black;
}

.more-info:active {
  animation: push 0.5s ease-in-out;
}

@keyframes push {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.book-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-author, .book-rating, .book-release, .book-description {
  margin: 5px auto;
  text-align: left;
  width: 100%;
}

.movie-pick {
  display: flex;
  justify-content: space-evenly;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gif-container > img {
  display: block;
}

.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison .decision {
  padding: 50px;
}
.comparison .comparison-container {
  display: flex;
  justify-content: center;
  gap: 75px;
}
.comparison .comparison-container .book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 600px;
  background: white;
  border-radius: 5px;
  padding-top: 25px;
  position: relative;
}
.comparison .comparison-container .book-container .book-image-container {
  position: absolute;
  top: 40px;
}
.comparison .comparison-container .book-container .book-info-container {
  position: absolute;
  bottom: 50px;
}
.comparison .comparison-container .movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 600px;
  background: white;
  border-radius: 5px;
  padding-top: 25px;
  position: relative;
}
.comparison .comparison-container .movie-container .movie-image-container {
  position: absolute;
  top: 40px;
}
.comparison .comparison-container .movie-container .movie-info-container {
  position: absolute;
  bottom: 75px;
}

.book-won:before, .book-won:after, .movie-won:before, .movie-won:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.book-won:after, .movie-won:after {
  filter: blur(50px);
}